.note__list-options-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.note__list-options-content h2 {
  font-weight: 400;
  font-size: 22px;
  line-height: 127%;
  color: #323232;
}
.note__list-option-button {
  display: flex;
  align-items: center;
  column-gap: 12px;
  border-radius: 16px;
  box-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 0.3),
    0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: #f3edf7;
  padding: 16px 20px 16px 16px;
  cursor: pointer;
}
.note__list-option-button {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #6750a4;
}
