.add__note-button {
    width: 56px;
    height: 56px;
    border-radius: 16px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #f3edf7;
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
}